<div id="container">
    <main>
        <section class="flex flex-row justify-evenly items-center w-full bg-podo-15 h-72">
             <div class="flex flex-col"> <!-- Grzybica Sigmy -->
                <div class="flex items-center justify-center w-40 h-52 bg-podo-14 border rounded-t-md border-podo-13">
                    <a href="#">
                        placeholder
                    </a>
                </div>
                <div class="flex items-center justify-center w-40 h-10 bg-podo-14 border rounded-b-md border-podo-13 border-t-0">
                    <a href="#">Grzybica Sigmy</a>
                </div>
             </div>
             <div class="flex flex-col"> <!-- Kurzajka Sigmy -->
                <div class="flex items-center justify-center w-40 h-52 bg-podo-14 border rounded-t-md border-podo-13">
                    <a href="#">
                        placeholder
                    </a>
                </div>
                <div class="flex items-center justify-center w-40 h-10 bg-podo-14 border rounded-b-md border-podo-13 border-t-0">
                    <a href="#">Kurzajka Sigmy</a>
                </div>
             </div>
             <div class="flex flex-col"> <!-- Krzywica Sigmy -->
                <div class="flex items-center justify-center w-40 h-52 bg-podo-14 border rounded-t-md border-podo-13">
                    <a href="#">
                        placeholder
                    </a>
                </div>
                <div class="flex items-center justify-center w-40 h-10 bg-podo-14 border rounded-b-md border-podo-13 border-t-0">
                    <a href="#">Krzywica Sigmy</a>
                </div>
             </div>
             <div class="flex flex-col"> <!-- Wrzynająca Sigma -->
                <div class="flex items-center justify-center w-40 h-52 bg-podo-14 border rounded-t-md border-podo-13">
                    <a href="#">
                        placeholder
                    </a>
                </div>
                <div class="flex items-center justify-center w-40 h-10 bg-podo-14 border rounded-b-md border-podo-13 border-t-0">
                    <a href="#">Wrzynająca Sigma</a>
                </div>
             </div>
        </section>
    </main>
</div>